.main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(238, 219, 195);
}
.title {
  height: 100px;
  text-align: center;
  padding-top: 50px;
}
.topic{
  height: 50px;
  text-align: center;
  padding-top: 30px;
}

.content{
  text-align: center;
  padding-top: 30px;
}