.main {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
}
.title {
  height: 100px;
  text-align: center;
  padding-top: 100px;
}
.name {
  height: 100px;
  padding-top: 80px;
  text-align: center;
  color: rgb(70, 41, 4);
  
}